[submodule "external/esphome"]
	path = external/esphome
	url = https://github.com/esphome/esphome.git
[submodule "external/tasmota"]
	path = external/tasmota
	url = https://github.com/arendst/Tasmota.git
[submodule "external/thingsboard"]
	path = external/thingsboard
	url = https://github.com/thingsboard/thingsboard.git
[submodule "external/xiaozhi-esp32"]
	path = external/xiaozhi-esp32
	url = https://github.com/78/xiaozhi-esp32.git
[submodule "external/zephyr"]
	path = external/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "external/zigbee2mqtt"]
	path = external/zigbee2mqtt
	url = https://github.com/Koenkk/zigbee2mqtt.git
[submodule "external/rmqtt"]
	path = external/rmqtt
	url = https://github.com/rmqtt/rmqtt.git
[submodule "external/esp-idf"]
	path = external/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "external/arduino-esp32"]
	path = external/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "external/micropython"]
	path = external/micropython
	url = https://github.com/micropython/micropython.git
[submodule "external/wled"]
	path = external/wled
	url = https://github.com/wled/WLED.git
